*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    font-family: sans-serif;
}

header{
    background-color: rgb(red, green, blue);
}

h1{
     padding: 0.7em;
}

/* article{
    background-color: green;
} */

.article2,.article3,
.article4,.article1-pan{
    display: flex;
    margin-top: 8em;
}

.portada{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    display: flex;
}

.title-description{
     padding: 1em;
}
.presentation{
    font-size: 1.8em;
}

.container-presentation{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 1em;
    text-align: justify;
}
.proyecto1,.proyecto2,
.proyecto3{
    width: 60%;
    scale: 1.0;
    transition: all 2s;
}



.proyecto1:hover,.proyecto2:hover,
.proyecto3:hover{
    scale: 1.4;
 }
 
 .section-pan{
    display: flex; 
 }
.container-article{
    width: 70%;
   display: inline-block;
   text-align: center;
}

.container-imagen{
    width: 100%;
    overflow: hidden;
}

.container-projects{
  padding: 2em;
 text-align: center;
}

.container-text{
    font-size: 1em;
   text-align: justify;
   padding: 1em;
}
.img_pan{
    width: 30%;
}

 .link_panes{
        background-color: red;
        padding: 1em;
        display: inline-block;
    }

@media screen and (max-width:950px){
    .portada{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        display: flex;
    }
    
    .title-h2{
        padding: 1em 0 0 1em;
    }
     .section-pan{
    display: inline-block; 
 }
/* 
    article{
        background-color: red;
    } */

    .article2,.article3,
    .article4{
        flex-direction: column;
     }
    .container-projects{
        flex-direction: column-reverse;
    }

    .proyecto1,.proyecto2,
    .proyecto3{
       width: 50%;
       margin-top: 5.5em;
    }
 
    .container-text{
         font-size: 1.3em;
       text-align: justify;
       width: 76%;
       margin-left: auto;
       margin-right: auto;
    }

    .container-imagen{
         align-items: center;
        display: flex;
    }

    .container-article{
         width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img_pan{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .link_panes{
        background-color: red;
        padding: 1em;
        display: inline-block;
    }
}

.info_comida{
    width: 50%;
}
