*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    font-family: sans-serif;
}

header{
    background-color: rgb(red, green, blue);
}

.img_pan{
   /* background-color: blue;*/
    /* width: 25%; */
    width: 40%;
    /* margin-left: 5em; */
    padding: 2.5em;
    
}

.container-proceso{
/*    background-color: rebeccapurple;*/
    display: flex;
    align-items: center;
}
 
.container-text{
  /*  background-color: red;*/
    width: 30%;

}

.container-imagen{
  /* background-color: seagreen;*/
   width: 50%;
   /* margin-left: auto;
   margin-right: auto; */
}

@media screen and (max-width:950px){
    .container-proceso{
   /*     background-color: darkcyan;*/
        display: inline-block;
    }

    .container-text{
        width: 100%;
        text-align: center;
    }

    .img_pan{
    /*   background-color: green;*/
        padding: 0.5em 1em;
        width: 40%;
       margin-left: auto; 
       margin-right: auto;
    }
    .container-imagen{
     /* background-color: seagreen;*/
      width: 100%;
        /* display: block; */
      text-align: center;     
   }
   .container-text{
      padding: 3.5em 1em 1em 1em;
   }
}
